global:
  scrape_interval: 5s
  evaluation_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: "webapp"
    static_configs:
      - targets: ["webapp:3000"]

rule_files:
  - "/etc/prometheus/webapp_rules.yml"
